body {
  font-family: Arial, sans-serif;
}

.container {
  margin-top: 50px;
}

img {
  width: 100px;
  height: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

thead {
  background-color: #f2f2f2;
}

thead th {
  background-color: #333;
  color: #fff;
}

table img {
  width: 100px;
}
